.clone-options {
  padding-top: 15px;
  padding-bottom: 15px;
}
.input-addon-positioning-fix {
  top: 0px;
}
.container {
  width: 687px;
}
.header.form {
  display: inline-block;
}
.panel.form {
  float: left;
  width: 400px;
}
.panel.drafts {
  float: right;
  width: 250px;
}
.autosave {
  float: right;
}