<!DOCTYPE html>
<html ng-app="HODApp">
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/dist/css/bootstrap.css">
  <style type="text/css">
    .clone-options {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .user-addon {
      top: 0px;
    }

    .container {
      width: 688px;
    }
  </style>

  <script type="text/javascript" src="../vendor/angular/angular.js"></script>
  <script type="text/javascript" src="../lib/directive.demo.js"></script>
  <script type="text/javascript">
    angular.module('HODApp', ['TwForm', 'TwUserProfile'])
      .controller('FormCtrl', function ($scope) {
        this.form = {};
        this.drafts = [];
        this.users = [
          { name: 'Diego Borges',     email: 'dborges@thoughtworks.com',  role: 'Dev' },
          { name: 'Tim Cochran',      email: 'tcochran@thoughtworks.com', role: 'Dev' },
          { name: 'Matt Weems',       email: 'mweems@thoughtworks.com',   role: 'Dev' },
          { name: 'Dan Lockman',      email: 'dlockman@thoughtworks.com', role: 'Dev' },
          { name: 'Igor Lilic',       email: 'ililic@thoughtworks.com',   role: 'Dev' },
          { name: 'Stephanie Jacobs', email: 'sjacobs@thoughtworks.com',  role: 'PM' }
        ];

        this.saveAsDraft = function (formData) {
          console.log('saving:', formData);
          this.lastSavedUser = angular.copy(formData);
        };
      });
  </script>
</head>
<body ng-controller="FormCtrl as formCtrl">
  <div class="container">
    <div class="clone-options btn-group">
        <button type="button"
                class="btn btn-default"
                ng-repeat="userProfile in formCtrl.users"
                tw-clone
                tw-src-model="userProfile"
                tw-dest-model="formCtrl.form">{{userProfile.name}}</button>
    </div>

    <div class="loading"></div>

    <div class="panel panel-default">
      <div class="panel-heading">User Profile</div>
      <div class="panel-body">
        <form tw-autosave="formCtrl.saveAsDraft(formCtrl.form)" ng-model="formCtrl.form">
          <div class="form-group input-group">
            <span class="input-group-addon glyphicon glyphicon-user user-addon"></span>
            <input type="text" ng-model="formCtrl.form.name" class="form-control" placeholder="User Name" />
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">@</span>
            <input type="text" ng-model="formCtrl.form.email" class="form-control" placeholder="User Email" />
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon glyphicon glyphicon-th"></span>
            <input type="text" ng-model="formCtrl.form.role" class="form-control" placeholder="User Role" />
          </div>
        </form>
      </div>
    </div>

    <pre>{{formCtrl.lastSavedUser | json}}</pre>
  </div>
</body>
</html>